body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,Raleway;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    width: 200px;
    max-width: 100%; 
    /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */
/*concurrentie*/
td { padding: 20px;}
td.con1{background-color: rgba(119, 204, 241, 0.12);}
th.plus{ background-color: rgba(4, 102, 28, 0.74);}
th.min{background-color: rgba(255, 0, 0, 0.42)}
td.con2{background-color: rgba(0, 140, 255, 0.21)}
th{padding-right: 10px;}
h1.con{padding-left: 150px;}
td.con3{background-color: rgba(119, 204, 241, 0.12);}


/*styleguide knoppen*/
button.btntickets{border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue'}

button.btntickets:hover{border: 2px solid black;
    background-color: #000000;
    color: #FFFFFF;
    padding: 14px 28px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue'}

div.knop{width: 210px;
    border: 2px double rgb(199, 199, 199);
    vertical-align:  top;
    padding:9px;
    margin-bottom: 10px;
    display: inline-block;
    }

button.btnieuwsbrief{border: 2px solid #D35E46;
        background-color: #D35E46;
        color: #FFFFFF;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 10px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;}

button.btnieuwsbrief:hover{border: 2px solid #924131;
        background-color: #924131;
        color: #FFFFFF;
        padding: 14px 28px;
        font-size: 16px;
        margin-bottom: 10px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;}

div.knop2{width: 210px;
        border: 2px double rgb(199, 199, 199);
        vertical-align:  top;
        padding:9px;
        display: inline-block; 
        margin-bottom: 10px;}

        button.btnnavigatie{font-family: 'Helvetica Neue' ,Arial,  sans-serif;
            font-stretch: condensed;
            font-style: bold;
            border:none;
            background-color: #000000;
            color: #FFFFFF;
            padding: 0px 0px 8px 0px;
            font-size: 20px;
            cursor: pointer;
            margin: 15px 0px 16px 5px;}
        
        button.btnnavigatie:hover{
            font-family: 'Helvetica Neue' ,Arial,  sans-serif;
            font-stretch: condensed;
            font-style: bold;
            background-color: #000000;
            color:#FFFFFF;
            padding: 0px 0px 8px 0px;
            font-size: 20px;
            margin-bottom: 14px;
            border-bottom:2px solid #FFFFFF;
           
            }
        
        div.knop3{width: 210px;
            border: 2px double rgb(199, 199, 199);
            color: #FFFFFF;
            background-color: #000000;
            vertical-align:  top;
            padding:9px;
            margin-bottom: 10px;
            display: inline-block;
            }

        button.btnkopen{border:2px solid #D35E46;
            background-color: #D35E46;
            color: #FFFFFF;
            padding: 14px 28px;
            font-size: 25px;
            cursor: pointer;
            
            font-family: 'Raleway', sans-serif;

        }
        button.btnkopen:hover{border: 2px solid #924131;
            background-color: #924131;
            color: #FFFFFF;
            padding: 14px 28px;
            font-size: 25px;
            cursor: pointer;
            
            font-family: 'Raleway', sans-serif;}

        div.knop4{width: 210px;
            border: 2px double rgb(199, 199, 199);
            vertical-align:  top;
            padding:9px;
            margin-bottom: 10px;
            display: inline-block;
            }
        div.knop5{width: 210px;
            border: 2px double rgb(199, 199, 199);
            vertical-align:  top;
            padding:9px;
            margin-bottom: 10px;
            display: inline-block;
            }
            button.btndriehoek{
                border-radius: 50%;
                border: 2px solid #B7B7B7;
                background-color: #313131;
                color: #FFFFFF;
                font-size: 16px;
                cursor: pointer;
                margin-bottom: 30px;
                width: 30px;
                padding-left:7px;
            }
  
/*styleguide iconen*/
div.icoon{width: 310px;
    border: 2px double rgb(199, 199, 199);
    vertical-align:  top;
    padding:9px;
    margin-bottom: 10px;
    display: inline-block;}
        .fa {
            background: #676767;
            color: white;
            margin: 10px;
            padding: 15px;
            width: 50px;
            height: 50px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
            display:inline-block;
            cursor: pointer;
          }
          
          .fa:hover {
              background: #D35E46;
              display:inline-block;
          }
          
         


/*styleguide kleurvlakken*/
div.kleur1{ width: 120px;
height: 120px;
color: white;
background-color: #D35E46;
padding: 10px;
margin-right: 15px;
display:inline-block;}

div.kleur2{width: 120px;
    height: 120px;
    color: white;
background-color:#313131;
padding: 10px;
margin-right: 15px;
display:inline-block;}

div.kleur3{width: 120px;
    height: 120px;
    color: grey;
background-color:#FCFCFC;
padding: 10px;
margin-right: 15px;
display:inline-block;}

div.kleur4{width: 120px;
    height: 120px;
    color: black;
background-color:#B7B7B7;
padding: 10px;
margin-right: 15px;
display:inline-block;
}

/*styleguide tekst*/
h3.titel{font-family: 'Helvetica Neue' ,Arial,  sans-serif;
    font-stretch: condensed;
    font-style: bold;
    font-size: 30px;}
h2{text-decoration: underline;
}
h3.tt{font-family:'Helvetica Neue' ,Arial,  sans-serif; }
p.dt{ font-family: 'Raleway', sans-serif;}
